# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
test
node_modules
package-lock.json
.DS_Store
dist
.log
