#container {
  padding: 20px 50px 20px 50px;
}
#submit{
    margin-top: 15px;
}
.star {
    font-weight: bold !important;
    font-size: 18px;
}
.addon {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}